<!--<div ng-controller="PhotoGridSearchController as PGSCtrl">-->
<div ng-show="images_exist">
	<h1>PHOTO GRID</h1>
	<div class="photo-grid">
		<img ng-repeat="p in photo_formated_list" ng-src="{{p.thumbnail}}">{{p.title}}</img>
	</div>
	<span>
		<!--<p>Page <a href="">{{page_num}}</a> of <a href="">{{num_pages}}</p>-->
		<p><a href="{{prev_page}}">PREV</a> {{page_num}} of {{num_pages}} <a href="{{next_page}}">NEXT</a></p>
	</span>
</div>
<div ng-hide="images_exist">
	<h2>No images were found.</h2>
</div>